@{
    ViewData["Title"] = "About";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">


<head>
    <style>

        .signature {
            font-family: 'Beth Ellen', cursive;
            font-weight: 700; /* This will depend on the specific font you choose */
            font-size: 24px;
            color: #333; /* Adjust color as needed */
        }
    </style>
</head>
<br>
<br>
<div class="container custom-container">
    <div class="row">
        <div class="col-lg-5 custom-col" style="margin-left: 70px">
            <!-- Adjusted from col-lg-4 to col-lg-5 -->
            <img src="/pexels-andrea-piacquadio-774909.jpg" alt="Aurora Brickwell" class="img-fluid rounded mb-4 custom-img" />
        </div>
        <div class="col-lg-6 custom-col">
            <!-- Adjusted from col-lg-8 to col-lg-7 -->
            <h1 class="custom-heading">Aurora Brickwell</h1>
            <p>Welcome to Aurora Brickwell's corner of creativity! As the founder of this LEGO-selling venture, I've always been captivated by the boundless possibilities that LEGO bricks offer. What started as a passion project on TikTok quickly grew into something beyond my wildest dreams. With every click of the brick, I've built not just structures, but a community of fellow brick enthusiasts who share my love for creativity and imagination.</p>
            <p>At Aurora Bricks, we believe in more than just selling bricks - we're dedicated to fostering imagination, innovation, and endless fun. Whether you're a seasoned LEGO enthusiast or just embarking on your brick-building journey, we're here to provide you with the perfect sets, accessories, and inspiration to bring your visions to life.</p>
            <p>With a carefully curated selection of LEGO sets, ranging from classic favorites to the latest releases, we strive to cater to builders of all ages and interests. Our mission is simple: to ignite the imaginations of our customers and empower them to create, explore, and dream without limits.</p>
            <p>Thank you for joining us on this colorful adventure. Let's build something amazing together!</p>
            <p>Happy building!</p>
            <p class="signature">Aurora Brickwell</p>
        </div>
    </div>
</div>

    <div class="parallax">
        <div class="text-box">
            <h1>Let's Connect!</h1>
            <br>
        <p style="text-align: left; margin-right: 20px; font-size: 20px;">
            <i class="fab fa-tiktok fa-lg" aria-hidden="true" style="margin-right: 20px;"></i>
            @@aurorabrickwell
        </p>

        <p style="text-align: left; margin-right: 20px; font-size: 20px;">
            <i class="fa fa-envelope fa-lg" aria-hidden="true" style="margin-right: 20px;"></i>
            aurorabrick@gmail.com
        </p>

        </div>
    </div>

