@{
    ViewData["Title"] = "Shop";
}
<h1>
    Explore <span class="nowrap"><span class="colorful letter">A</span><span class="colorful letter">u</span><span class="colorful letter">r</span><span class="colorful letter">o</span><span class="colorful letter">r</span><span class="colorful letter">a</span></span>’s Top Picks
</h1>

<br>
<div class="pagination">
    <a href="#" class="page active">1</a>
    <a href="#" class="page">2</a>
    <a href="#" class="page">3</a>
    <a href="#" class="page">4</a>
</div>