html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

footer {
    background-color: #697AC7; /* This is a Bootstrap dark background color, adjust the color to match the exact shade you need */
    color: white;
    padding: 10px 0;
    text-align: center;
}

footer a {
    color: #dcdcdc; /* Light grey color for links, adjust if needed */
    text-decoration: none; /* Removes underline from links */
}
footer a:hover {
     color: white; /* Color for link on hover */
     text-decoration: underline; /* Adds underline on hover */
     
}